/* GENERAL START */
body{
    font-family: "Poppins", serif;
    color: #141718;
}
body.lock{
    overflow: hidden;
}

.elegant-link {
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.4px;
    padding-bottom: 2px;
    border-bottom: 1.5px solid #141718;
    display: inline-flex;
    align-items: center;
}

.container {
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}
.button{
    padding: 10px 0;
    color: #ffffff;
    background-color: #141718;
    font-size: 18px;
    width: 100%;
    border-radius: 6px;
    transition: all .3s ease;
}
.button:hover{
    background-color: #377DFF;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9e9e9e;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1000;
}
.overlay.active {
    visibility: visible;
}
.hidden {
    display: none !important;
}
/* GENERAL END */



/* HEADER START */
.notification{
    position: relative;
    background-color: #F3F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    padding: 8px 0;
}
.notification__text{
    font-weight: 600;
    line-height: 150%;
}
.notification__link{
    line-height: 130%;
    color: #377DFF;
    border-bottom: 1.5px solid #F3F5F7;
    position: relative;
}
.notification__link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 1.5px;
    background-color: #377DFF;
}

.notification__close{
    position: absolute;
    right: 10px;
    top: 50%;
    display: flex;
    transform: translate(0, -50%);
}
@media (max-width: 521px) {
    .notification{
        font-size: 12px;
    }
    .notification__link{
        display: none;
    }
}


.header__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}
.header__logo{
    width: 95px;
    height: auto;
}
.header__menu-row{
    display: flex;
    align-items: center;
}
.header__menu-row .menu{
    display: flex;
    gap: 40px;
    font-size: 14px;
    color: #6C7275;
}
.header__menu-row .menu li{
    transition: color 0.3s ease;
}
.header__menu-row .menu li:hover{
    color: #141718;
}
.header__right-section {
    display: flex;
    align-items: center;
    gap: 16px;
}
.header__wishlist, .header__cart {
    display: flex;
    align-items: center;
    gap: 5px;
}
.header__wishlist span, .header__cart span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #141718;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}
.header__burger-icon{
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.header__burger-icon span {
    position: absolute;
    top: calc(50% - 1px) ;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #141718;
}
.header__burger-icon span:first-child {
    top: 0;
}
.header__burger-icon span:last-child {
    top: auto;
    bottom: 0;
}
.header__logo-mobile{
    width: 70px;
    height: auto;
}
.header__menu-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__search-box {
    display: flex;
    align-items: center;
    border: 1.4px solid #6C7275;
    border-radius: 8px;
    padding: 10px 15px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 16px;
}
  
.header__search-box img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
  
.header__search-box input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #141718;
}
  
.header__search-box input::placeholder {
    color: #6C7275;
}
.header__mobile-logo-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.header__mobile-top, .header__mobile-bottom{
    width: 100%;
}
.header__mobile-hide{
    display: none;
}
.header__mobile-tools{
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
}
.header__mobile-tools li a{
    display: flex;
    justify-content: space-between;
    color: #6C7275;
    font-size: 18px;
    font-weight: 500;
    padding: 12px;
    border-bottom: 1px solid #E8ECEF;
}
.header__mobile-bottom .button {
    margin-bottom: 20px;
}
.header__socials{
    display: flex;
    gap: 24px;
}
.header__socials img{
    width: 24px;
    height: 24px;
}
@media (max-width: 768px) {
    .header__search{
        display: none;
    }
    .header__private{
        display: none;
    }
    .header__logo{
        position: absolute;
        left: 60px;
    }
    .header__burger-icon {
        display: block;
    }
    .header__mobile-hide{
        display: block;
    }
    .header__menu-row{
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 1001;
        transition: left .3s;
        width: 60%;
        background-color: #ffffff;
        height: 100vh;
        padding: 24px;
    }
    .header__mobile-top .menu{
        flex-direction: column;
        gap: 15px;
        font-size: 22px;
        align-items: start;
        justify-content: center;
        width: 100%;
    }
    .header__mobile-top .menu li{
        font-weight: 500;
        color: #141718;
        font-size: 14px;
        padding-bottom: 15px;
        border-bottom: 1px solid #E8ECEF;
        width: 100%;
    }
    .header__menu-row.active{
        left: 0;
    }
    
}
@media (max-width: 581px){
    .header__menu-row{
        width: 70%;
    }
}
@media (max-width: 441px){
    .header__menu-row{
        width: 92%;
    }
}
/* HEADER END */



/* HOME SLIDER START */
.home-slider{
    margin-bottom: 40px;
}
.home-slider__row .slick-prev, .home-slider__row .slick-next {
    background-color: #FFFFFF !important;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    z-index: 1000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-slider__row .slick-prev {
    left: 32px;
}

.home-slider__row .slick-next {
    right: 32px;
}

.home-slider__row .slick-prev::before{
    content: url(../images/home-slider/arrow-left.svg);
    opacity: 1;
}
.home-slider__row .slick-next::before{
    content: url(../images/home-slider/arrow-right.svg);
    opacity: 1;
}

.home-slider__row .slick-dots {
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-slider__row .slick-dots li button {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    display: inline-block;
}

.home-slider__row .slick-dots li button:before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #FEFEFE;
    border-radius: 50%;
    font-size: 8px;
    transition: all 0.3s ease;
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.home-slider__row .slick-dots li.slick-active{
    margin: 0 11px;
}

.home-slider__row .slick-dots li.slick-active button:before {
    width: 30px;
    height: 8px;
    background-color: #FEFEFE;
    border-radius: 5px;
    opacity: 1;
    padding: 0 10px;
}

.home-slider__row .home-slider__slides img {
    width: 100%;
}
.home-slider__content {
    display: flex;
    align-items: center;
}
.home-slider__title {
    width: 75%;
    font-size: 72px;
    font-weight: 500;
    line-height: 100%;
}
.home-slider__title span{
    color: #6C7275;
}
.home-slider__text {
    color: #6C7275;
}
.home-slider__text span{
    color: #343839;
    font-weight: 600;
}
@media (max-width: 1131px) {
    .home-slider__content {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .home-slider__title {
        width: auto;
    }
}
@media (max-width: 681px) {
    .home-slider__title {
        font-size: 40px;
    }
    .home-slider__text {
        font-size: 14px;
    }
    .home-slider__row .slick-arrow {
        display: none !important;
    }
}
@media (max-width: 481px) {
    .home-slider__row .slick-dots {
        bottom: 15px;
    }
}
/* HOME SLIDER END */



/* FOOTER START */
footer{
    background-color: #232627;
    color: #E8ECEF;
    font-size: 14px;
    padding: 81px 160px 32px 160px;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
}
.footer__logo-inner {
    display: flex;
    gap: 32px;
}
.footer__logo-inner a{
    width: 100px;
    height: 20px;
    padding-right: 32px;
    border-right: 1px solid #6C7275;
}
.footer__menu ul{
    display: flex;
    gap: 40px;
    color: #FEFEFE;
}
.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    border-top: 1px solid #6C7275;
}
.footer__sub-info {
    display: flex;
    gap: 28px;
}
.footer__sub-info ul{
    font-weight: 600;
    color: #FEFEFE;
}
.footer__sub-info ul{
    display: flex;
    gap: 28px;
}
.footer__socials {
    display: flex;
    gap: 24px;
}
@media (max-width: 1091px) {
    .footer__top {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .footer__sub-info{
        flex-direction: column-reverse;
    }
}
@media (max-width: 901px) {
    footer{
        padding: 48px 80px 48px 80px;
    }
}
@media (max-width: 681px) {
    footer{
        padding: 48px 25px 48px 25px;
    }
}
@media (max-width: 521px) {
    .footer__bottom{
        flex-direction: column-reverse;
        gap: 32px;
        align-items: center;
    }
    .footer__sub-info{
        align-items: center;
    }
    .footer__logo-inner{
        flex-direction: column;
        align-items: center;
    }
    .footer__logo-inner a{
        position: relative;
        width: 100px;
        height: 20px;
        padding-right: 0px;
        border-right: none;
    }
    .footer__logo-inner a::after{
        content: '';
        width: 24px;
        height: 1px;
        background-color: #6C7275; 
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
    }
    .footer__menu ul{
        flex-direction: column;
        align-items: center;
    }
}
/* FOOTER END */



/* BANNER GRID START */
.banner-grid {
    margin-bottom: 48px;
}
.banner-grid__row img {
    z-index: 9;
    height: 100%;
}
.banner-grid__big, .banner-grid__small-2, .banner-grid__small {
    position: relative;
}
.banner-grid__content {
    position: absolute;
    z-index: 10;
}
.banner-grid__content h3 {
    font-size: 34px;
    font-weight: 500;
    letter-spacing: -0.6px;
}
/* .banner-grid__content a {
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.4px;
    padding-bottom: 2px;
    border-bottom: 1.5px solid #141718;
    display: inline-flex;
    align-items: center;
} */
.banner-grid__small .banner-grid__content, .banner-grid__small-2 .banner-grid__content {
    left: 32px;
    bottom: 40px;
}
.banner-grid__big .banner-grid__content{
    left: 48px;
    top: 48px;
}
.banner-grid__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}
.banner-grid__big {
    grid-row: span 2 / span 2;
}
.banner-grid__small-2 {
    grid-column-start: 2;
}
@media (max-width: 821px) {
    .banner-grid__row {
        gap: 12px;
    }
    .banner-grid__content h3 {
        font-size: 28px;
    }
    .banner-grid__content a {
        font-size: 14px;
    }
    .banner-grid__small .banner-grid__content, .banner-grid__small-2 .banner-grid__content {
        left: 20px;
        bottom: 20px;
    }
    .banner-grid__big .banner-grid__content{
        left: 20px;
        top: 20px;
    }
}
@media (max-width: 641px) {
    .banner-grid__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .banner-grid__small .banner-grid__content, .banner-grid__small-2 .banner-grid__content {
        left: 32px;
        bottom: 32px;
    }
    .banner-grid__big .banner-grid__content{
        left: 32px;
        top: 32px;
    }
}
@media (max-width: 375px) {
    .banner-grid__small .banner-grid__content, .banner-grid__small-2 .banner-grid__content {
        left: 16px;
        bottom: 32px;
    }
    .banner-grid__big .banner-grid__content{
        left: 16px;
        top: 32px;
    }
    .banner-grid__content h3 {
        font-size: 24px;
    }
    .banner-grid__content a {
        font-size: 12px;
    }
}
/* BANNER GRID END */



/* HOME CAROUSEL PRODUCTS START */
.carousel-products{
    margin-bottom: 48px;
}
.carousel-products__top-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}
.carousel-products__top-info div {
    display: flex;
    align-items: end;
}
.carousel-products__top-info h3{
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
}
.carousel-products .swiper-container {
    padding-bottom: 50px;
    position: relative;
    overflow-x: hidden;
}
.carousel-products .swiper-scrollbar {
    background: #E8ECEF;
}
.carousel-products .swiper-container-horizontal > .swiper-scrollbar {
    border-radius: 2px;
    height: 5px;
    width: 200px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.carousel-products__card h6{
    font-weight: 600;
    margin-bottom: 4px;
}
.carousel-products__card-top{
    position: relative;
    margin-bottom: 12px;
}
.carousel-products__main-img {
    width: 100%;
}
.carousel-products__sale-wrap {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.carousel-products__sale-wrap span{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 14px;
    line-height: 100%;
    
    border-radius: 4px;
}
.carousel-products__new {
    background-color: #ffffff;
}
.carousel-products__sale {
    color: #ffffff;
    background-color: #38CB89;
}
.carousel-products__add-to-cart {
    position: absolute;
    bottom: 16px;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
}
.carousel-products__wishlist {
    display: flex;
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 8px;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.carousel-products__wishlist:hover {
    background-color: #343839;
}
.carousel-products__wishlist svg path {
    transition: fill 0.3s ease;
}

.carousel-products__wishlist:hover svg path {
    fill: #fff;
}
.carousel-products__price{
    font-size: 14px;
    font-weight: 600;
}
.carousel-products__price span{
    font-weight: 400;
    text-decoration: line-through;
    text-decoration-thickness: 0.5px;
    color: #6C7275;
    padding-left: 12px;
}

@media (max-width: 480px) {
    .carousel-products__top-info {
        margin-bottom: 40px;
    }
    .carousel-products__top-info h3{
        font-size: 34px;
    }
    .carousel-products__card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
/* HOME CAROUSEL PRODUCTS END */


/* DECOR INFO START */
.decor-info {
    margin-bottom: 48px;
}
.decor-info__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 24px;
}
.decor-info__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #F3F5F7;
    padding: 48px 5px 48px 32px;
}
.decor-info__card img{
    width: 48px;
}
.decor-info__card h4{
    font-size: 20px;
    font-weight: 500;
}
.decor-info__card p{
    color: #6C7275;
    font-size: 14px;
}
@media (max-width: 992px) {
    .decor-info__card {
        background-color: #F3F5F7;
        padding: 32px 5px 32px 16px;
    }
    .decor-info__row {
        column-gap: 8px;
        row-gap: 24px;
    }
    .decor-info__card h4{
        font-size: 14px;
        line-height: 110%;
    }
    .decor-info__card p{
        line-height: 110%;
    }
}
@media (max-width: 621px) {
    .decor-info__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .decor-info {
        margin-bottom: 32px;
    }
}
/* DECOR INFO END */



/* BANNER EXPIRE START */
.banner-expire {
    display: flex;
    align-items: center;
    background-color: #F3F5F7;
    margin-bottom: 80px;
}
.banner-expire__main-img {
    width: 50%;
}
.banner-expire__content {
    padding-left: 72px;
    max-width: 580px;
}
.banner-expire__sale {
    color: #377DFF;
    font-weight: 700;
    margin-bottom: 16px;
}
.banner-expire h3{
    font-size: 40px;
    line-height: 110%;
    font-weight: 500;
    margin-bottom: 16px;
}
.banner-expire__text {
    font-size: 20px;
    margin-bottom: 24px;
    
}
.banner-expire__countdown {
    margin-bottom: 24px;
}
.banner-expire__timer {
    display: flex;
    gap: 16px;
}
.banner-expire__countdown p{
    margin-bottom: 12px;
}
.banner-expire__timer div{
    display: flex;
    flex-direction: column;
    width: 60px;
    text-align: center;
}
.banner-expire__timer span{
    background-color: #141718;
    color: #FFFFFF;
    font-size: 34px;
    font-weight: 500;
}
@media (max-width: 1121px) {
    .banner-expire__content {
        padding-left: 32px;
    }
    .banner-expire__sale {
        margin-bottom: 14px;
    }
    .banner-expire h3{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .banner-expire__text {
        font-size: 14px;
        margin-bottom: 10px;
        
    }
}
@media (max-width: 861px) {
    .banner-expire {
        flex-direction: column;
    }
    .banner-expire__main-img {
        width: 100%;
    }
    .banner-expire__content {
        padding: 58px 32px;
    }
    .banner-expire h3{
        font-size: 32px;
    }
    .banner-expire__text {
        font-size: 16px;
        
    }
    .banner-expire {
        margin-bottom: 40px;
    }
}
@media (max-width: 375px) {
    .banner-expire__timer div{
        width: 50px;
    }
    .banner-expire__timer span{
        font-size: 28px;
    }
    .banner-expire__timer small{
        font-size: 12px;
    }
}
/* BANNER EXPIRE END */



/* HOME ARTICLES START */
.home-articles {
    margin-bottom: 80px;
}
.home-articles__top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.home-articles__top-row h3{
    font-size: 40px;
    font-weight: 500;
}
.home-articles__top-row div{
    display: flex;
    align-items: center;
}
.home-articles__row {
    display: flex;
    gap: 25px;
}
.home-articles__bg-img{
    margin-bottom: 24px;
}
.home-articles__article h6{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
@media (max-width: 661px) {
    .home-articles__row {
        flex-direction: column;
        align-items: center;
    }
    .home-articles {
        margin-bottom: 40px;
    }
}
/* HOME ARTICLES END */



/* NEWSLETTER START */
.newsletter {
    background-image: url(../images/newsletter/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px;
    text-align: center;
}

.newsletter__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0 32px;
}

.newsletter__info h3 {
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 10px;
}

.newsletter__info p {
    font-size: 18px;
    color: #121212;
}
.newsletter__form{
    width: 500px;
}
.newsletter__form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid #6C7275;
}

.newsletter__input-wrapper {
    position: relative;
    flex: 1;
}

.newsletter__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: #6c757d;
}

.newsletter__input {
    width: 100%;
    padding: 10px 10px 10px 40px; /* Оставляем место для иконки */
    border: none;
    outline: none;
    font-size: 16px;
    color: #212529;
    background-color: transparent;
}

.newsletter__input::placeholder {
    color: #6C7275;
}

.newsletter__button {
    background-color: transparent;
    border: none;
    color: #6C7275;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.newsletter__button:hover {
    color: #212529;
}
@media (max-width: 601px) {
    .newsletter__form{
        width: 100%;
    }
    .newsletter__info h3 {
        font-size: 28px;
    }
    
    .newsletter__info p {
        font-size: 14px;
    }
    
}
/* NEWSLETTER END */



/* SIGN IN / SIGN UP POPUP START */
.sign-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
}
.sign-popup__row {
    position: relative;
    width: 60%;
    height: auto;
    display: flex;
    background-color: #fff;
    color: #6C7275;
}
.sign-popup__row h3{
    font-size: 40px;
    line-height: 110%;
    font-weight: 500;
    color: #141718;
    margin-bottom: 24px;
}
.sign-popup__row a{
    color: #141718;
    font-weight: 600;
}
.sign-popup__text-toggle{
    margin-bottom: 32px;
}
.sign-popup__btn-togle{
    color: #38CB89;
    font-weight: 600;
}
.sign-popup__close{
    position: absolute;
    top: 20px;
    right: 20px;
}
.sign-popup__left {
    padding-top: 32px;
    width: 50%;
    background-image: url(../images/popup-sign-up/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
}
.sign-popup__right {
    width: 50%;
    padding: 60px;
}
.sign-popup__basic-input{
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px #E8ECEF solid;
    margin-bottom: 30px;
}
.sign-popup__sub-row{
    display: flex;
    justify-content: space-between;
}
.sign-popup__checkbox-inner{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

@media (max-width: 1331px) {
    .sign-popup__row {
        width: 75%;
    }
}
@media (max-width: 1081px) {
    .sign-popup__row {
        width: 95%;
    }
    .sign-popup__right {
        width: 50%;
        padding: 25px;
    }
}
@media (max-width: 721px) {
    .sign-popup__left {
        display: none;
    }
    .sign-popup__right {
        width: 100%;
    }
}
@media (max-width: 351px) {
    .sign-popup__row {
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .sign-popup__sub-row{
        flex-direction: column;
        margin-bottom: 10px;
    }
}
/* SIGN IN / SIGN UP POPUP END */